.cdk-drag-preview {
	border-radius: 4px;
	box-shadow: $box-shadow;
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms $transition;
}

.todo-list.cdk-drop-list-dragging todo-item:not(.cdk-drag-placeholder) {
	transition: transform 250ms $transition;
}

.mat-form-field {
	width: 100%;
	
	textarea.mat-input-element {
		padding: 0;
		margin: 0;
	}
	
	.mat-error + .mat-error {
		display: none;
	}
}

div.mat-dialog-content {
	padding: 12px 24px;
	font-size: $font-size;
}

.mat-slide-toggle {
	margin: 10px 0;
	width: 100%;
}

@media (max-width: 500px) {
	.mat-tooltip-panel {
		display: none;
	}
}

.mat-tooltip {
	margin: 0 10px !important;
	font-size: 10px;
}

.mat-dialog-actions {
	flex-direction: row-reverse;
}

.cdk-overlay-pane:not(.mat-tooltip-panel) {
	max-width: calc(100vw - 80px) !important;
	width: 460px !important;
}

.mat-snack-bar-container {
	max-width: none !important;
	width: 100%;
}

// Theme styles

.theme-light {
	todo-menu {
		.mat-button {
			color: white;
			
			&[disabled] {
				color: rgba(255, 255, 255, .26);
			}
		}
		
		.mat-ripple-element {
			background-color: white !important;
		}
	}
	
	.mat-ripple-element {
		background-color: rgba($light-blue, 0.5) !important;
	}
	
	.mat-checkbox-frame {
		border-color: #a5a5a5;
	}
	
	.mat-checkbox-checked.mat-accent .mat-checkbox-background,
	.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
		background-color: $light-blue;
	}
	
	.mat-form-field.mat-focused {
		.mat-form-field-label {
			color: $light-blue;
		}
		
		.mat-form-field-ripple {
			background-color: $light-blue;
		}
	}
	
	.mat-slide-toggle {
		&.mat-checked {
			.mat-slide-toggle-thumb {
				background-color: $light-blue;
			}
			
			.mat-slide-toggle-bar {
				background-color: rgba($light-blue, .6);
			}
		}
	}
	
	.mat-snack-bar-container {
		&.todo-error {
			background-color: #d32f2f;
			color: #fff;
		}
		
		&.todo-success {
			background: $snackbar-bg;
		}
	}
}

.theme-dark {
	.mat-button {
		&:hover:not([disabled]) .mat-button-focus-overlay {
			opacity: 0.1;
			background: #fff;
		}
		
		&[disabled] {
			color: rgba(255, 255, 255, .26);
		}
	}
	
	.mat-ripple-element {
		background-color: rgba(255, 255, 255, 0.5) !important;
	}
	
	.mat-checkbox-frame {
		border-color: #a5a5a5;
	}
	
	.mat-checkbox-checked.mat-accent .mat-checkbox-background,
	.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
		background-color: $icon-color;
	}
	
	.mat-checkbox-checkmark-path {
		stroke: $todo-color !important;
	}
	
	.mat-dialog-container {
		background: $todo-color;
		color: $font-color;
	}
	
	.mat-slide-toggle {
		.mat-slide-toggle-thumb {
			background-color: $font-color;
		}
		
		.mat-slide-toggle-bar {
			background-color: rgba(#838383, .6);
		}
		
		&.mat-checked {
			.mat-slide-toggle-thumb {
				background-color: $icon-color;
			}
			
			.mat-slide-toggle-bar {
				background-color: rgba($icon-color, .6);
			}
		}
	}
	
	.mat-form-field-label {
		color: rgba(255, 255, 255, .54);
	}
	
	.mat-form-field.mat-focused {
		.mat-form-field-label {
			color: $icon-color;
		}
		
		.mat-form-field-ripple {
			background-color: $icon-color;
		}
	}
	
	.mat-input-element {
		caret-color: $font-color;
	}
	
	.mat-snack-bar-container {
		color: #000;
		
		&.todo-error {
			background-color: #cf6679;
			color: #000;
		}
		
		&.todo-success {
			background: $green;
		}
	}
	
	.mat-form-field-underline {
		background-color: rgba(255, 255, 255, .42);
	}
}
