<div class="menu-content">
    <div class="menu-history">
        <button mat-button
                [matTooltip]="'Undo'"
                [disabled]="!hasPast()"
                (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <button mat-button
                [matTooltip]="'Redo'"
                [disabled]="!hasFuture()"
                (click)="next()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

    <button mat-button
            [matTooltip]="'Settings'"
            (click)="openSettingsDialog()">
        <mat-icon>settings</mat-icon>
    </button>

    <button mat-button
            *ngIf="!(user$ | async)"
            [matTooltip]="'Sign up'"
            (click)="openAuthDialog(true)">
        <mat-icon>person_add</mat-icon>
    </button>

    <button mat-button
            *ngIf="!(user$ | async)"
            [matTooltip]="'Sign in'"
            (click)="openAuthDialog()">
        <mat-icon>person_outline</mat-icon>
    </button>

    <button mat-button
            *ngIf="user$ | async"
            [matTooltip]="'Profile'"
            (click)="openProfileDialog()">
        <mat-icon>person</mat-icon>
        <span class="user-status user-{{(isOnline$ | async) ? 'online' : 'offline'}}"></span>
    </button>
</div>

<button class="menu-toggle" mat-button
        [matTooltip]="showMenu ? 'Hide menu' : 'Show menu'"
        (click)="toggleMenu()">
    <mat-icon>{{showMenu ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
</button>
